<robot
  name="Practice">
  <link
    name="Practice_chasis">
    <inertial>
      <origin
        xyz="-0.00856650943396229 -2.8900395781009E-19 1.34157652766106E-18"
        rpy="0 0 0" />
      <mass
        value="0.325692897" />
      <inertia
        ixx="0.000347646242085157"
        ixy="-7.31142091962554E-22"
        ixz="1.03605122015661E-20"
        iyy="0.000924795776955835"
        iyz="4.92492353874842E-21"
        izz="0.000612170206442097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Practice_chasis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Practice_chasis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Rear_wheel1">
    <inertial>
      <origin
        xyz="0 -2.25334262035869E-50 0.0127"
        rpy="0 0 0" />
      <mass
        value="0.115833329721688" />
      <inertia
        ixx="4.82637908562619E-05"
        ixy="5.09789411562385E-53"
        ixz="-7.17154562008641E-22"
        iyy="4.82637908562619E-05"
        iyz="1.08311500369441E-37"
        izz="8.40724098786498E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Rear_wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Rear_wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_wheel1"
    type="fixed">
    <origin
      xyz="-0.0508 0.0762 0"
      rpy="1.5708 0 0" />
    <parent
      link="Practice_chasis" />
    <child
      link="Rear_wheel1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Rear_wheel2">
    <inertial>
      <origin
        xyz="136.5424346962 0.0381 0.0635"
        rpy="0 0 0" />
      <mass
        value="0.115833329721688" />
      <inertia
        ixx="4.82637908562619E-05"
        ixy="9.17620940812293E-53"
        ixz="-8.84858119707235E-37"
        iyy="4.82637908562619E-05"
        iyz="1.08311500369441E-37"
        izz="8.40724098786497E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Rear_wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Rear_wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_wheel2"
    type="fixed">
    <origin
      xyz="-136.59 0 -0.0381"
      rpy="1.5708 0 0" />
    <parent
      link="Practice_chasis" />
    <child
      link="Rear_wheel2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Front_wheel">
    <inertial>
      <origin
        xyz="0 0 -9.14064360069615E-19"
        rpy="0 0 0" />
      <mass
        value="0.115833329721688" />
      <inertia
        ixx="4.82637908562619E-05"
        ixy="0"
        ixz="7.87000852571001E-38"
        iyy="4.82637908562619E-05"
        iyz="1.08311500369441E-37"
        izz="8.40724098786498E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Practice/meshes/Front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_wheel"
    type="fixed">
    <origin
      xyz="0.0508 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Practice_chasis" />
    <child
      link="Front_wheel" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>